.container-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-radius: 15px;
  background-color: white;
  width: 100%;
  position: relative;
  bottom: -30px;
  z-index: 9999;
}
.container-details p {
  color: var(--dark-gray);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.container-details b {
  color: var(--very-dark-gray);
  text-transform: capitalize;
}
.container-details div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media (min-width: 1300px) {
  .container-details {
    max-width: 1200px;
    height: auto;
    min-height: 20vh;
    flex-direction: row;
    justify-content: space-around;
  }
  .container-details div {
    align-items: flex-start;
    width: 200px;
  }
  .container-details b {
    font-size: 2.1rem;
    text-wrap: wrap;
  }
}
